<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Udacity Travel App</title>
    </head>

    <body>

        <!-- <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header> -->

        <main>
            <h1 id="app-title">Udacity Travel App</h1>
            <section id="form">
                <p>Please enter your destination</p>
                <form class="" onsubmit="return false" method="POST">
                    <!-- <label class="label" for="name">Enter name (optional)</label>
                    <input required id="name" type="text" name="input" value="" placeholder="Name(Optional)">
                    <label class="label" for="url">URL to validate(required)</label>
                    <input required id="url" type="url" name="input" value="" placeholder="URL to validate(required)">
                    <input type="submit" id="submit" name="" value="submit"> -->
                    <label class="label" for="name">Destinature</label>
                    <input required id="destination" type="text" name="input" value="" placeholder="Destination">
                    <label class="label" for="url">Date of departure</label>
                    <input required id="date" type="date" name="date" value="" placeholder="When are you traveling">
                    <input type="submit" id="submit" name="" value="submit">
                </form>
            </section>
            <p id="welcome"></p>
            <section id="data">
                <h1 class="intro">Weather info for <b id="_destination"></b></h1>
                <p>
                    <h3 class="section_title">City:</h3><br>
                    <span class="info_display"> <b id="city"></b> (<b id="country_code"></b>)</span><br>
                </p>
                <hr>
                <p>
                    <h3 class="section_title">Population:</h3> <br>
                    <span class="info_display"> <b id="population"></b></span><br>
                </p>
                <hr>
                <p>
                    <h3 class="section_title">Cordinates:</h3><br>
                    <span class="info_display">Lat: <b id="lat"></b>, Long: <b id="long"></b></span><br>
                </p>
                <hr>
                <p>
                    <h3 class="section_title">Temperature:</h3><br>
                    <span class="info_display">Hi:<b id="max_temp"></b> Low:<b id="min_temp"></b></span><br>
                </p>
                <hr>
                <p>
                    <h3 class="section_title">Timezone:</h3><br>
                    <span class="info_display"> <b id="timezone"></b></span><br>
                </p>
                <hr>
                <p>
                    <h3 class="section_title">Clouds:</h3><br>
                    <span class="info_display"> <b id="clouds"></b></span><br>
                </p>

                <br>
               
                
            </section>
            <!-- <section>
                <img id="image_1" class="destination_image" src="https://source.unsplash.com/random/800x600" alt="">
                <img id="image_2" class="destination_image" src="https://source.unsplash.com/random/800x600" alt="">
                <img id="image_3" class="destination_image" src="https://source.unsplash.com/random/800x600" alt="">
                <img id="image_4" class="destination_image" src="https://source.unsplash.com/random/800x600" alt="">
            </section> -->

            <section class="image-wrapper">
                <h1 class="intro">City Images</h1>
                <div class="row">
                    <div class="column">
                        <img id="image_1" class="destination_image" src="" alt="">
                        <img id="image_2" class="destination_image" src="" alt="">
                    </div>
                    <div class="column">
                        <img id="image_3" class="destination_image" src="" alt="">
                        <img id="image_4" class="destination_image" src="" alt="">
                    </div>
                    <div class="column">
                        <img id="image_5" class="destination_image" src="" alt="">
                        <img id="image_6" class="destination_image" src="" alt="">
                    </div>
                    <div class="column">
                        <img id="image_7" class="destination_image" src="" alt="">
                        <img id="image_8" class="destination_image" src="" alt="">
                    </div>
                </div>
            </section>
            <p>
                <button id="revert_btn">Enter another location</button>
            </p>
        </main>
<!-- https://unsplash.com/photos/LQEFH1jp91A -->
        <footer>
            <div id="footer">
                <p>Udacity frontend project &copy; 2023</p>
            </div>
        </footer>
        <!-- <script type="text/javascript" src="../index.js"></script> -->
        <script>
            // load serviceworker
            if ('serviceWorker' in navigator) {
                console.log("::ServiceWorker is ready::")
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>